.footer {
  background-color: var(--dark);
  padding: 2rem;
  color: var(--white);
}

.footerLogo {
  background-color: var(--white);
  width: 200px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto 1rem;
}

.footerNav {
  display: flex;
  gap: .5rem;
  justify-content: center;
  font-size: .8rem;
}

.link {
  padding: 5px;
  color: var(--white);
}

.footerDetails {}

.footerCopys {
  text-align: center;
  font-size: .6rem;
  font-weight: var(--bold);
  margin-bottom: 1rem;
}

.footerSocials {
  text-align: center;
}

.socialIcon {}

.socialIcon > img {
  width: 1.5rem;
}