.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  box-shadow: 5px 5px 5px -1px var(--light-grey);
}

.nav-logo {}

.nav-item {}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.nav-link {
  transition: 0.3s all;
}

.nav-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav-links.active {
    background-color: var(--white);
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
  }

  .nav-icon {
    display: flex;
  }
}


